@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  background-color: #101622;
}

.whiteSquare{
  background-color: #ebecd0;
}

.blackSquare{
  background-color: #3e7c00;
}

.border-grey-color {
  border-color: #282e39;
}

.bg-grey-color {
  background-color: #37373764;
}

.piece-attack {
  border-color: #37373764;
}

.button-style{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 1);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: calc(var(--spacing) * 1);
  background-color: #1e232e;
  border-radius: var(--radius-lg);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--color-slate-700);
  color: var(--color-slate-300);
  cursor: pointer;
}

@media (min-width: 640px) {
  .button-style {
    gap: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);
  }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}